html {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;

    font-family: 'Montserrat';

    justify-content: center;
    align-items: center;

}

.textos {
    margin-top: 100px;
    text-align: center;
    padding: 0px 80px;
}

.produtos {
    max-width: 100%;
    width: 1600px;

    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    margin-top: 100px;
    margin-bottom: 150px;

}